.header {
    display: flex;
    justify-content: center;
    height: 5vh;
    border: 1px solid black;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
}


.main-content {
    display: flex;
    height: 90vh;
    box-sizing: border-box;
}

.player-container {
    width: 25%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-container {
    flex-grow: 1;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    height: 5vh;
    box-sizing: border-box;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: space-between;
    height: 25rem;
    width: 25rem;
    
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    height: 32%;
    width: 32%;
    border: 1px solid black;
}